

#landing-container{

    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#camera-page{

    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}