@media only screen and (max-width : 700px){
    h1 {
        font-size: 35px;
    }

    /* Navbar */
    .toggle-btn i {
        display: block;
    }
    .onlyani{
        display: none;
    }
    .brand img {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 60px;
    }
    .hero-img{
        display: none;
    }
    .navbar {
        background:  #00203c;
        height: 50vh;
        flex-direction: column;
        display: none !important;
    }
    .mobile-nav {
        display: flex !important;
    }
    .nav-list ul {
        flex-direction: column;
    }
    .nav-list ul li {
        margin-top: 30px;
    }
    
    .header {
        height: 100%;
        margin-top: 120px;
    }
    .header .row {
        flex-direction: column;
    }
    .header .col-1 {
        padding: 20px;
    }
    .header .col-2  img{
        max-width: 90%;
    }
    .grid-wrapper {
     grid-template-columns:repeat(auto-fit, minmax(300px, auto));
    }
    .grid-box {
        padding: 10px;
    }
    .skills {
        height: 100%;
    }
    .portfolio .title .ctn-title {
        flex-direction: column;
        text-align: left;
    }
    .bottom.right, .bottom.left{
        display: none;
    }
    .hero{

        transform: translateY(20px);
    }
 
}